/* GENERAL STYLE */
body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  background-color: #fcf0cf;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: "Merriweather Sans";
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 2000;
}

h2 {
  font-family: "Merriweather Sans";
  font-size: 32px;
  font-weight: 1000;
  margin-bottom: 0px;
}

h3 {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 1000;
  margin-bottom: 0px;
  text-decoration: underline;
}

p {
  font-family: "Open Sans";
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

/* HEADER SECTION + PHOTOS */
#header {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  position: sticky;
}

#logo {
  height: 15vh;
}

#headerButtons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: stretch;
}

.headerButton {
  width: 100%;
  height: 70px;
  background-color: #5d3b1c;
  color: white;
  border: 1px solid black;
  font-family: "Open Sans";
  font-size: 25px;
}

.headerButton:hover {
  background-color: #f7e1a5;
  color: black;
}

#photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
}
.homeImage {
  height: 100%;
  width: 30%;
}

/* ABOUT US */
#aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#contactInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  column-gap: 10px;
  /* flex-direction: row; */
}

#map {
  width: 60%;
  /* height: 700px; */
}

/* MENUS */
#menus {
  display: flex;
  align-items: center;
  row-gap: 20px;
  flex-direction: column;
  width: 90%;
}

#menuButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
  width: 100%;
}

.menuButton {
  width: 350px;
  height: 80px;
  background-color: #5d3b1c;
  color: white;
  border: 1px solid black;
  font-family: "Open Sans";
  font-size: 25px;
  border-radius: 10px;
}

.menuButton:hover {
  background-color: #f7e1a5;
  color: black;
}

.menuSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* align-items: flex-start; */
}

.menuSubSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 40px;
}

.menuSubSubSection {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.horizontal_line {
  width: 100%;
  border-bottom: 3px dotted black;
  line-height: 50%;
}
.menuItem {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  /* align-content: space-around; */
}
